*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
}
a {
	text-decoration: none;
}

/*////////// headers/////////*/
a {
	color: aliceblue;
}
.header {
	width: 100%;
	border: 1px solid red;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	padding: 20px;
	background-color: black;
}

img {
	width: 60px;
}

/* /////////// PROVA DI ANIMANZIONE LOGO ////////// */
/* img:hover{
    transform: scale(10) translate(40%, 40%);
    transition-duration:2s;
} */

.logo {
	display: flex;
	align-items: center;
}

.menu {
	width: 100%;
	display: flex;
	align-items: center;
}
ul {
	padding: 0px 10px;
}

/* .cta {
} */

.menu li {
	display: inline-block;
	padding: 5px;
}

.button {
	color: white;
	background-color:#316bff;
	display: inline-block;
	padding: 18px 22px;
	border-radius: 5px;
}
