@import url(./Font.css);

*,
*:before,
*:after {
	--webkit-box-sizing: border-box;
	--moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* *** Header *** */

.header {
	width: 100%;
	position: fixed;
	top: 0;
	/*questo di seguito ci permette di allinearci con la sezione .hero. 
	1 STEP portarci a meta della pagina*/
	left: 50%;
	/*2 STEP traslarsi, della metà della sua lunghezza, sull'asse x (verifica il padding che sia uguale)*/
	transform: translateX(-50%);
	padding: 30px;
	display: flex;
	max-width: 1350px;
	/* il seguentie serve per mettersi sopra al video in loop */
	z-index: 5;
}

.logo {
	z-index: 1;
}

.logo img {
	width: 50px;
}

.menu {
	width: 100%;
	z-index: 0;
}

.menu li {
	display: inline-block;
}
.menu li a {
	color: beige;
	padding: 15px;
	display: block;
}

@media (max-width: 768px) {
	.cta {
		display: none;
	}

	.menu {
		transition: all 1s cubic-bezier(0.075, 0.61, 0.355, 1);
		width: 100%;
		position: absolute;
		right: -100%;
		top: 0;
		height: 100vh;
		background-color: #000;
		padding-top: 80px;
	}
	.menu li {
		display: block;
		padding: 15px 30px;
		font-size: 25px;
	}
	.icon {
		display: block;
		position: absolute;
		top: 40px;
		right: 30px;
		height: 30px;
		width: 30px;
	}
	.icon span {
		display: block;
		height: 3px;
		width: 100%;
		background-color: #fff;
		margin-bottom: 5px;
	}
	.open {
		right: 0%;
	}
}

/* **** HERO***** */

/*//////// DOPPIO SFONDO PER RISALTARE I TESTI////// */
/* 0deg(indica l'inclinazione della sfumatura, in questo caso verticale). 
La prima () è il primo colore la seconda () è il secondo colore. 
In questa formula che vediamo in base a come aumentiamo l'ultimo valore nella parentesi 
cambia il valore superiore o inferiore del nero*/

.hero {
	position: relative;
	height: 100vh;
	display: flex;
	width: 100%;
	align-items: center;
	/* -----Commentato il background per elaborare meglio il video superiore----*/
	/* background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
		url(../img/libro.png) no-repeat center center;
	background-size: cover; */
	/* il seguente per non far scrollare fuori dallo schermo il video */
	overflow: hidden;
}

/*  di seguito creiamo un lemento html dal css utilizzabdo :after. 
Creera un elemento dopo l'elemento scelto. In questo caso ".hero".
Successivamente creiamo una patina opaca per risaltare i testi con backgroung e opacity*/

.hero::after {
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: #000;
	opacity: 0.2;
}

.hero__content {
	margin: 0 auto;
	width: 100%;
	max-width: 1350px;
	padding: 30px;
	/* i seguenti sevono per mettersi sopra al video in loop */
	z-index: 1;
	position: relative;
}

.hero__content p,
.hero__content h1 {
	color: aliceblue;
}

.video-libro {
	position: absolute;
	top: -100px;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: 0;
}
.video--single {
	top: -280px;
}

.hero--single {
	height: 450px;
	text-align: center;
}

@media (max-width:768px){
	.video--single, .video-libro {
		left: -100px;
	}
}

/* **** POSTER **** */
.poster {
	display: flex;
	height: 100vh;
	width: 100%;
	align-items: center;
}
.poster__img {
	width: 65%;
}

/*  PER FAR RIENTRARE L'IMMAGINE DENRO IL SUO DIV 
VERRA USATA LA SEGUENTE PROPRIETA object-fit */
.poster__img img {
	object-fit: cover;
	width: 100%;
	height: 100vh;
}

.poster__content {
	width: 35%;
	padding: 50px;
}

@media (max-width: 768px) {
	.poster {
		flex-wrap: wrap;
		height: auto;
	}
	.poster__img,
	.poster__content {
		width: 100%;
	}
	#video-libro {
		top: -100px;
		left: -50px;
	}
}

/* ***BG Cover*** */
.bg-cover {
	display: flex;
	padding: 100px 0;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(../img/libro.png) no-repeat center center;
	background-size: cover;
}

.bg-cover__title {
	width: 50%;
	padding: 50px;
	display: flex;
	align-items: center;
}
.bg-cover__text {
	width: 50%;
	padding: 50px;
}
.bg-cover__text h4 {
	color: #fff;
	font-size: 1.5rem;
}
.bg-cover__text p {
	color: #fff;
}

@media (max-width: 768px) {
	.bg-cover {
		flex-wrap: wrap;
		height: auto;
	}
	.bg-cover__title,
	.bg-cover__text {
		width: 100%;
	}
}

/* **** GRID **** */

.grid {
	display: flex;
	max-width: 1350px;
	padding: 0 30px;
	margin: 0 auto;
}
.grid .col {
	width: 100%;
}

@media (max-width: 768px) {
	.grid {
		flex-wrap: wrap;
	}
}

/* **** CAROSELLO **** */

.main-carousel {
	padding: 40px 0;
}
.carousel-cell {
	width: 350px;
	height: 350px;
	margin-right: 40px;
}

.carousel-cell__content {
	width: 100%;
	height: 100%;
	background-color: aquamarine;
	border-radius: 100%;
	line-height: 350px; /*centra il testo al cerchio verticalmente*/
	text-align: center;
	margin-right: 40px;
}

/* **** PANEL BLUE **** */

.panel-blue {
	background: #4bb1e9;
	padding: 100px 30px;
}
.panel-blue__text {
	display: flex;
	align-items: center;
}

.dot {
	height: 250px;
	width: 250px;
	display: inline-block;
	background: aquamarine;
	border-radius: 100%;
	text-align: center;
	line-height: 250px;
	margin-right: 40px;
	margin-bottom: 40px;
}

/* **** FOOTER **** */

.footer {
	background: #010e30;
	padding: 150px 0;
}

.col {
	padding: 0 20px;
}

/* *** ! CONTENT *** */
.content {
	max-width: 900px;
	margin: 0 auto;
	padding: 50px 20px;
}

/* ****HELPERS***** */
.mt-50 {
	margin-top: 50px;
}
.mt-100 {
	margin-top: 100px;
}
.mt-150 {
	margin-top: 150px;
}

.t-bianco {
	color: #ffff;
}
