@import url(./Font.css);

*,
*:before,
*:after {
	--webkit-box-sizing: border-box;
	--moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* ///  */
:root {
	scroll-behavior: smooth;
}

/* /// HEADER /// */
.header {
	width: 100%;
	position: fixed;
	top: 0;
	/*questo di seguito ci permette di allinearci con la sezione .hero. 
	1 STEP portarci a meta della pagina*/
	left: 50%;
	/*2 STEP traslarsi, della metà della sua lunghezza, sull'asse x (verifica il padding che sia uguale)*/
	transform: translateX(-50%);
	padding: 30px;
	display: flex;
	max-width: 1350px;
	/* il seguentie serve per mettersi sopra al video in loop */
	z-index: 5;
}

.logo {
	z-index: 1;
}

.logo img {
	width: 50px;
}

.menu {
	width: 100%;
	z-index: 0;
}

.menu li {
	display: inline-block;
}
.menu li a {
	color: beige;
	padding: 15px;
	display: block;
}
.menu li:hover {
	background-color: #316bff;
}

@media (max-width: 915px) {
	.cta {
		display: none;
	}

	.menu {
		transition: all 1s cubic-bezier(0.075, 0.61, 0.355, 1);
		width: 100%;
		position: absolute;
		right: -100%;
		top: 0;
		height: 100vh;
		background-color: #000;
		padding-top: 100px;
	}
	.menu li {
		display: block;
		padding: 15px 30px;
		font-size: 20px;
	}
	.icon {
		display: block;
		position: absolute;
		top: 40px;
		right: 30px;
		height: 30px;
		width: 30px;
	}
	.icon span {
		display: block;
		height: 3px;
		width: 100%;
		background-color: #fff;
		margin-bottom: 5px;
	}
	.open {
		right: 0%;
	}
}

/* /// HERO /// */

.hero {
	/* *** DOPPIO SFONDO PER RISALTARE I TESTI *** */
	/* *** 0deg(indica l'inclinazione della sfumatura, in questo caso verticale). 
	La prima () è il primo colore la seconda () è il secondo colore. 
	In questa formula che vediamo in base a come aumentiamo l'ultimo valore nella parentesi 
	cambia il valore superiore o inferiore del nero *** */
	position: relative;
	height: 100vh;
	display: flex;
	width: 100%;
	align-items: center;
	/* -----Commentato il background per elaborare meglio il video superiore----*/
	/* background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
		url(../img/libro.png) no-repeat center center;
	background-size: cover; */
	/* il seguente per non far scrollare fuori dallo schermo il video */
	overflow: hidden;
}

.hero::after {
	/*  di seguito creiamo un elemento html dal css utilizzabdo :after. 
	Creera un elemento dopo l'elemento scelto. In questo caso ".hero".
	Successivamente creiamo una patina opaca per risaltare i testi con backgroung e opacity*/
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: #000;
	opacity: 0.2;
}

.hero__content {
	margin: 0 auto;
	width: 100%;
	max-width: 1350px;
	padding: 30px;
	/* i seguenti sevono per mettersi sopra al video in loop */
	z-index: 1;
	position: relative;
}

.hero__content p,
.hero__content h1 {
	color: aliceblue;
}

.video-libro {
	position: absolute;
	top: -100px;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: 0;
}
.video--single {
	top: -280px;
}

.hero--single {
	height: 450px;
	text-align: center;
}

@media (max-width: 915px) {
	.video--single,
	.video-libro {
		left: -100px;
	}
}
@media (max-height: 450px) {
	.hero__content {
		top: 30px;
	}
}

/* /// POSTER /// */
.poster {
	display: flex;
	height: 100vh;
	width: 100%;
	align-items: center;
}
.poster__img {
	width: 65%;
}

.poster__img img {
	/* *** PER FAR RIENTRARE L'IMMAGINE DENRO IL SUO DIV 
	VERRA USATA LA SEGUENTE PROPRIETA object-fit */
	object-fit: cover;
	width: 100%;
	height: 100vh;
	box-shadow: 0px 0px 20px 5px rgb(72, 65, 65);
}

.poster__content {
	width: 35%;
	padding: 50px;
}

@media (max-width: 915px) {
	.poster {
		flex-wrap: wrap;
		height: auto;
	}
	.poster__img,
	.poster__content {
		width: 100%;
	}
	#video-libro {
		top: -100px;
		left: -50px;
	}
}

/* /// COVER /// */
.bg-cover {
	display: flex;
	padding: 100px 0;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(../img/libro.png) no-repeat center center;
	background-size: cover;
}

.bg-cover__title {
	width: 50%;
	padding: 50px;
	display: flex;
	align-items: center;
}
.bg-cover__text {
	width: 50%;
	padding: 50px;
}
.bg-cover__text h4 {
	color: #fff;
	font-size: 1.5rem;
}
.bg-cover__text p {
	color: #fff;
}

@media (max-width: 915px) {
	.bg-cover {
		flex-wrap: wrap;
		height: auto;
	}
	.bg-cover__title,
	.bg-cover__text {
		width: 100%;
	}
}

/* /// GRID /// */
.grid {
	display: flex;
	max-width: 1350px;
	padding: 0 30px;
	margin: 0 auto;
}
.grid .col {
	width: 100%;
}

@media (max-width: 915px) {
	.grid {
		flex-wrap: wrap;
	}
}

/* /// CAROSELLO /// */
.main-carousel {
	padding: 40px 0;
}
.carousel-cell {
	width: 350px;
	height: 350px;
	margin-right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.carousel-cell__content {
	width: 90%;
	height: 90%;
	background-color: aquamarine;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	/* *** per centrare il testo al cerchio non utilizzando
	 flex e con il width e height al 100% fare come segue*/
	/* text-align: center;
	 line-height: 350px;*/
	/* margin-right: 40px; */
	box-shadow: 0px 0px 17px 0.2px rgb(72, 65, 65);
	right: 0;
}

/* /// PANEL BLUE /// */
.panel-blue {
	background: #4bb1e9;
	padding: 100px 30px;
}

.panel-blue__text {
	display: flex;
	align-items: center;
}

.dot {
	height: 250px;
	width: 250px;
	display: inline-block;
	background: aquamarine;
	border-radius: 100%;
	text-align: center;
	line-height: 250px;
	margin-right: 40px;
	margin-bottom: 40px;
	box-shadow: 0px 0px 20px 0.2px rgb(72, 65, 65);
}
/* *** Questa media serve, nei Tablet piu piccoli per far scendere il testo
e mantenere i quattro cerchi affiancati (un cerchio si metteva a fianco)*** */
@media (max-width: 1110px) {
	.panel-blue > .grid {
		flex-wrap: wrap;
	}
	.panel-blue__dots{
		max-width: 780px;
	}
}
/* *** Questa media serve, nei Tablet a tenere i cerchi affiancati *** */
@media (min-width: 1111px) and (max-width: 1371px) {
	.panel-blue {
		padding: 100px 0px;
	}
	.panel-blue > .grid {
		padding: 0 10px;
	}
	.dot {
		margin-right: 15px;
		margin-bottom: 15px;
	}
	.grid > .col.panel-blue__dots {
		padding: 0;
	}
}

/* /// FOOTER /// */

.footer {
	background: #010e30;
	padding: 150px 0;
}

.col {
	padding: 0 20px;
}

/* /// ! CONTENT /// */
.content {
	max-width: 900px;
	margin: 0 auto;
	padding: 50px 20px;
}

/* /// HELPERS /// */
.mt-50 {
	margin-top: 50px;
}
.mt-100 {
	margin-top: 100px;
}
.mt-150 {
	margin-top: 150px;
}

.t-bianco {
	color: #ffff;
}

@media (max-width: 915px) {
	.mt-mobile-0 {
		margin-top: 0;
	}
	.mb-mobile-0 {
		margin-bottom: 0;
	}
}

/* /// TORNA SU /// */
.torna-su {
	position: fixed;
	bottom: 20px;
	right: 20px;
}
.torna-su a {
	display: none;
}

.torna-su img {
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 50px;
	padding: 0px;
	width: 50px;
	border-radius: 50%;
	border: 2px solid #b4cce8;
	filter: brightness(50%) saturate(100%);
}

.torna-su:hover {
	transition: all 0.3s ease-in-out;
	transform: scale(1.3);
}
